<?xml version="1.0" encoding="utf-8"?>
<!--
  Web.config for Azure App Service deployment
  This file handles Node.js application configuration in Azure App Service (Windows)
-->
<configuration>
  <system.webServer>
    
    <!-- Enable URL rewriting for all requests -->
    <rewrite>
      <rules>
        <!-- Redirect HTTP to HTTPS -->
        <rule name="Redirect to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
            <!-- Exclude health check from redirect -->
            <add input="{REQUEST_URI}" pattern="^/health$" negate="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
        </rule>
        
        <!-- Proxy all requests to Node.js -->
        <rule name="ReverseProxy" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://localhost:5000/{R:1}" />
        </rule>
      </rules>
    </rewrite>

    <!-- Configure Node.js application -->
    <webSocket enabled="true" />
    
    <httpPlatform processPath="node.exe" arguments="src/server.js" watchedFiles="*.js">
      <!-- Set environment variables -->
      <environmentVariables>
        <environmentVariable name="NODE_ENV" value="production" />
        <environmentVariable name="PORT" value="5000" />
      </environmentVariables>
    </httpPlatform>

    <!-- Set request/response limits -->
    <security>
      <requestFiltering>
        <requestLimits maxUrl="10240" maxQueryString="10240" maxAllowedContentLength="20971520" />
      </requestFiltering>
    </security>

    <!-- Configure SSL -->
    <access sslFlags="Ssl,SslRequireCert" />

    <!-- Performance tuning -->
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
    </staticContent>

  </system.webServer>

  <!-- Enable compression -->
  <system.webServer>
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" staticCompressionLevel="9" />
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
    </httpCompression>
    
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
  </system.webServer>

</configuration>
